<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/" icon="chevron-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{title}}</h1>
  
<div class="row">
  <ion-card *ngFor="let image of gallery" >
    <img [src]=image.image/>
    <ion-card-header>
      <ion-card-title> {{image.title}} </ion-card-title>
     
    </ion-card-header>
    <ion-card-content>
      {{image.content}}
      
    </ion-card-content>
  </ion-card>
</div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>