<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>{{titre}}</h1>
<h2>{{unTexteRandom()}}</h2>
<ion-item>
  <ion-label>Awesome Label</ion-label>
  <ion-input [(ngModel)]="maVariable" type="text" placeholder="Awesome Input"></ion-input>
  <ion-button (click)="storeVariable()">
    {{maVariable}}
  </ion-button>
</ion-item>
<ion-item>
  <ion-label>Un nombre</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-button (click)="deleteAllInputs()" expand="block" color="danger" >
  <ion-icon slot="start" name="skull-outline"></ion-icon>
  Delete All
</ion-button>
<ion-list>
  <ion-item *ngFor="let input of inputs; let i=index">
    {{input}} <ion-button slot="end" color="danger" (click)="deleteInput(i)">
      Delete
    </ion-button>
  </ion-item>
</ion-list>
</ion-content>
