<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Erotisme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">
    <strong>Les artichauts</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> UI Components</a></p>
    <ion-button href="./details">
      Voir les détails solution moisie
    </ion-button>
    <ion-button routerLink="/details">
      Meilleure solution avec routerlink
    </ion-button>
    <ion-button routerLink="/gallery">
      Gallery
    </ion-button>

    <ion-button (click)="openDetails()" expand="full">Accéder à la page Détails programmatiquement</ion-button>
    <div class="row">
      <div class="col-sm-4">
        <ion-card>
          <ion-card-header class="ion-activatable ripple-parent">
            <ion-card-subtitle>Tu partages notre passion des légumes ?</ion-card-subtitle>
            <ion-card-title>{{titre}}</ion-card-title>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-card-header>
        
          <ion-card-content>
            <ion-icon slot="start" name="home"></ion-icon> Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
          <ion-button>Trouve ton artichaut</ion-button>
          <ion-button color="secondary" shape="round" href="https://ionicframework.com/docs/api/card" target="_blank">Plutôt cornichon ?</ion-button>
          <ion-button (click)="alert('à malibu')" shape="round" expand="full" color="danger" fill="outline" href="https://ionicframework.com/docs/api/card" target="_blank">
            <ion-icon name="rocket" slot="end"></ion-icon>
            Rencontre les piments hot hot hot de ta région</ion-button>
          
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
